.showOnlyOnPhone {
  display: none;
}

@media (max-width: 600px) {
  .showOnlyOnPhone {
    display: block !important;
  }
}

.hideOnPhone {
  display: block;
}

@media (max-width: 600px) {
  .hideOnPhone {
    display: none;
  }
}
